html{
    font-family: sans-serif;
}
head{
    display: none;
}
body{
    position: relative;
    font-family: "Microsoft YaHei UI","Consolas","YaHei Consolas Hybrid";
    font-size: 14px;
    line-height: 2;
    color: #555;
    background: #fff;
}
div{
    display: block;
}
ul{
    list-style: none;
}
ul, menu, dir {
    display: block;
    list-style-type: disc;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    -webkit-padding-start: 40px;
}
li{
    display: list-item;
    text-align: -webkit-match-parent;
}
.container{
    position: relative;
    min-height: 100%;
}
.header{
    background: #adadad;
}
.header-inner{
    padding: 25px 0 20px;
    position: relative;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: auto;
    margin-right: auto;
    width: 700px;
    height: 60px;
}
.header-inner:before,.header-inner:after{
    content: " ";
    display: table;
}
.header-inner:after{
    clear: both;
}
.menu{
    float: left;
    margin: 8px 0 0 0;
    padding-right: 0;
    text-align: center;
}
.menu .menu-item{
    margin: 0;
    display: inline-block;
}

.main{
    padding-bottom: 150px;
}
.main-inner{
    margin-top: 80px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0;
    width: 700px;
}
.post-expand{
    padding-top:0;
}
::selection{
    background: #262a30;
    color: #fff;
}
