.clear:after {
    clear: both;
    display: block;
    visibility: hidden;
    height: 0;
    content: ""
}

.clear {
    zoom: 1
}


/*head*/

header {
    text-align: center;
    overflow: hidden;
}

nav,
.logo-wrap {
    width: 1000px;
    margin: 60px auto 40px;
}

.nav-ul {
    text-align: center;
    padding: 0;
}

.nav-ul li {
    display: inline-block;
    list-style-type: none;
}

.nav-ul li:nth-child(2) {
    margin: 0 10px;
}

.nav-ul li a {
    font-family: "Microsoft YaHei";
    color: #888;
    text-decoration: none;
    -webkit-transition: color 0.2s;
    -moz-transition: color 0.2s;
    transition: color 0.2s;
}

.nav-ul li a:hover {
    color: #000;
    -webkit-transition: color 0.2s;
    -moz-transition: color 0.2s;
    transition: color 0.2s;
}

.Crabapple-logo {
    width: 300px;
    display: inline-block;
}


/*head end*/


/*main*/

main {
    position: relative;
    font-family: "Microsoft YaHei";
    width: 1000px;
    min-height: 680px;
    margin: 0 auto 50px;
}


/*aside*/

main aside {
    position: absolute;
    right: 0;
    width: 250px;
}

#asideBlock{
    margin-left: 20px;
    box-shadow:
        0 1px 5px 0 rgba(0, 0, 0, 0.2),
        0 2px 2px 0 rgba(0, 0, 0, 0.14),
        0 3px 1px -2px rgba(0, 0, 0, 0.12);
}

.fixed-down {
    position: fixed;
    width: 250px;
    top: 10px;
}

.aside-title-block {
    display: block;
    font-size: 13px;
    padding: 10px;
    background: #000;
    color: #fff;
    text-decoration: none;
    text-align: center;
    margin-bottom: 10px;
}

.about-me-img {
    width: 100%;
}

.about-me-txt {
    font-size: 13px;
    color: #555;
    padding: 10px;
}

.aside-tags{
    padding: 5px;
    text-align: center;
}
.share-out {
    background: #fff;
    display: flex;
    justify-content: space-around;
    color: #444;
    margin-bottom: 20px;
}

.share-out a {
    font-size: 35px;
    text-decoration: none;
    color: #565656;
    -webkit-transition: color 0.2s;
    -moz-transition: color 0.2s;
    transition: color 0.2s;
}



.share-out a:hover {
    color: #ffa834;
    -webkit-transition: color 0.2s;
    -moz-transition: color 0.2s;
    transition: color 0.2s;
}

.aside-tags a {
    display: inline-block;
    text-decoration: none;
    padding: 7px 16px;
    background: #ddd;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    border-radius: 30px;
    margin: 3px 3px;
    font-size: 13px;
    color: #000;
    -webkit-transition: background 0.2s;
    -moz-transition: background 0.2s;
    transition: background 0.2s;
}

.aside-tags a:hover {
    background: #aaa;
    -webkit-transition: background 0.2s;
    -moz-transition: background 0.2s;
    transition: background 0.2s;
}


/*aside end*/


/*articles*/

.articles {
    margin-right: 255px;
}

article {
    margin-bottom: 80px;
    box-shadow:
        0 1px 5px 0 rgba(0, 0, 0, 0.2),
        0 2px 2px 0 rgba(0, 0, 0, 0.14),
        0 3px 1px -2px rgba(0, 0, 0, 0.12);
    padding: 10px;
}
#part-article {
    max-height: 400px;
    overflow: hidden;
}

.article-title {
    font-family: "Microsoft YaHei";
    font-size: 22px;
}

.article-time {
    font: italic 13px cursive;
    text-align: center;
    color: #666;
}

.article-preview-content {
    color: #5c5c5b;
    font-size: 16px;
    line-height: 30px;
}

.share-show {
    margin-top: -40px;
    margin-bottom: 60px;
    margin-left: 20px;
    position: relative;
}

.share-show-all {
    border: 1px solid #000;
    font-size: 16px;
    text-decoration: none;
    color: #655;
    padding: 10px 10px 10px 60px;
    letter-spacing: 15px;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    transition: all 0.2s;
}

.share-show-all:hover {
    background: #000;
    color: #fff;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    transition: all 0.2s;
}

.share-show-all:hover i {
    color: #fff;
}

.share-show-all i {
    font-size: 25px;
    padding-left: 40px;
}

.share-show-to {
    position: absolute;
    right: 0;
}

.share-show-to a {
    display: inline-block;
    text-decoration: none;
    color: #000;
    font-size: 15px;
    margin-right: 10px;
    -webkit-transition: color 0.2s;
    -moz-transition: color 0.2s;
    transition: color 0.2s;
}

.share-show-to a:hover {
    color: #ffa834;
    -webkit-transition: color 0.2s;
    -moz-transition: color 0.2s;
    transition: color 0.2s;
}


/*articles end*/

footer {
    position: relative;
    font-family: "Microsoft YaHei";
}

footer a {
    display: inline-block;
    text-decoration: none;
    color: #000;
    font-size: 15px;
    padding: 10px 20px;
    border-bottom: 1px solid #000;
    -webkit-transition: color 0.2s;
    -moz-transition: color 0.2s;
    transition: color 0.2s;
}

.preview-page {}

.next-page {
    position: absolute;
    right: 255px;
    ;
}